{% load i18n pages_tags %}
{% spaceless %}
{% load blog_tags mezzanine_tags i18n %}
    <ul class="text-white flex">
        {% blog_categories as categories %}
            {% if categories %}
                {% for category in categories %}
                    <li class="NavButton
                        {% if category.get_absolute_url == request.path %}
                            NavButton-active
                        {% endif %}">
                        <a href="{% url "blog_post_list_category" category.slug %}">
                        {{ category }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        {% for page in page_branch %}
            {% if page.in_menu %}
                <li class="NavButton
                    {% if page.is_current_or_ascendant %}
                        NavButton-active
                    {% endif %}"
                    id="{{ page.html_id }}">
                    <a href="{{ page.get_absolute_url }}"
                        {% if page.has_children_in_menu %}
                            class="dropdown-toggle disabled" data-toggle="dropdown"
                        {% endif %}>
                        {{ page.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endspaceless %}