{% load mezzanine_tags i18n %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

<div class="grid grid-cols-3 p-4">
    <div class="col-span-2">
        {% block navbar_dropdown_menu %}
            {% page_menu "pages/menus/dropdown.html" %}
        {% endblock%}
    </div>
        <p class="justify-self-end text-align-right">
            {% trans "Powered by" %}
            <a href="http://mezzanine.jupo.org">Mezzanine</a>
            {% trans "and" %}
            <a href="http://www.djangoproject.com">Django</a>
            <span class="separator">|</span>
            {% trans "Theme with" %}  <a target="_blank" href="https://tailwindcss.com">Tailwind</a>
        </p>
</div>