{% load mezzanine_tags i18n %}

<form action="{% url "search" %}" class="col-span-3  flex mr-4 rounded-md shadow-sm " role="search">

    <button type="submit" class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-bellBg text-gray-500 text-sm" ><i class="fas fa-search"></i></button>
    <input class="flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-400 p-1 bg-bellBg " placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.GET.q }}">
</form>