<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">


    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    {% block extra_head %}{% endblock %}
</head>



<body id="{% block body_id %}body{% endblock %}" class="bg-bellBg min-h-full">

    <header class="font-slim sticky">
        {% include "includes/navBar.html" %}
    </header>

    <div class="grid grid-cols-4">
        <div class="justify-self-center col-span-3">
            {% block main %}{% endblock %}
        </div>
        <div class="justify-self-end">
            {% nevercache %}
            {% include "blog/includes/filter_panel.html" %}
            {% endnevercache %}
        </div>
    </div>
    <footer class="bg-bell text-white bottom-0">
        {% include "includes/footer.html" %}
    </footer>

</body>
</html>